
<section class="header-container">
    <div class="title-logo-container">
        <a routerLink="/home"><h1 class="header-items">P-ThoRe</h1></a>
        <span><img src="../assets/logo/hammer-4.png" /></span>
        
    </div>
   
    <div class="header-navigation-container">
        <nav class="header-navigation">
            <ul>
    
                <button routerLink="/login" id="login-btn">
                    SignIn!
                </button>
                <button routerLink="/login" id="register-btn">
                    About
                </button>
                
            </ul>
        </nav>
    </div>
    
   

    
</section>

<!-- .header-items {
    margin-left: 1em;
}
 -->